In [37]:
import numpy as np #guna untuk menyediakan fungsi yang siap pakai untuk memudahkan kita melakukan perhitungan saintifik seperti matriks, aljabar, statistik, dan sebagainya
import pandas as pd #guna untuk membaca nama file dari csv atau txt lainnya
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier#Untuk menggunakan KNN
from sklearn.model_selection import train_test_split #digunakan untuk proses training dan testing merupakan kumpulan data yang berbeda.
from sklearn.metrics import confusion_matrix #memberikan informasi perbandingan hasil klasifikasi yang dilakukan oleh sistem (model) dengan hasil klasifikasi sebenarnya.
from sklearn.metrics import classification_report # Memberikan Report
from sklearn.metrics import accuracy_score #memberikan skor akurasi

In [38]:
dataset = pd.read_csv('prediksicuaca2.csv') #membaca dataset yang ada

In [39]:
dataset #menampilkan seluruh isi dataset

            date  precipitation  temp_max  temp_min  wind  weather  Prediction
0       1/1/2012            0.0      12.8       5.0   4.7  drizzle           1
1       1/2/2012           10.9      10.6       2.8   4.5     rain           3
2       1/3/2012            0.8      11.7       7.2   2.3     rain           3
3       1/4/2012           20.3      12.2       5.6   4.7     rain           3
4       1/5/2012            1.3       8.9       2.8   6.1     rain           3
...          ...            ...       ...       ...   ...      ...         ...
1456  12/27/2015            8.6       4.4       1.7   2.9     rain           3
1457  12/28/2015            1.5       5.0       1.7   1.3     rain           3
1458  12/29/2015            0.0       7.2       0.6   2.6      fog           5
1459  12/30/2015            0.0       5.6      -1.0   3.4      sun           4
1460  12/31/2015            0.0       5.6      -2.1   3.5      sun           4

[1461 rows x 7 columns]

In [40]:
print(dataset.shape) #menampilkan ada berapa baris dan kolom ( ada 1461 baris, dan 7kolom)
dataset.head(10) #menampilkan 10 data pertama diamlui dari 0

(1461, 7)

        date  precipitation  temp_max  temp_min  wind  weather  Prediction
0   1/1/2012            0.0      12.8       5.0   4.7  drizzle           1
1   1/2/2012           10.9      10.6       2.8   4.5     rain           3
2   1/3/2012            0.8      11.7       7.2   2.3     rain           3
3   1/4/2012           20.3      12.2       5.6   4.7     rain           3
4   1/5/2012            1.3       8.9       2.8   6.1     rain           3
5   1/6/2012            2.5       4.4       2.2   2.2     rain           3
6   1/7/2012            0.0       7.2       2.8   2.3     rain           3
7   1/8/2012            0.0      10.0       2.8   2.0      sun           4
8   1/9/2012            4.3       9.4       5.0   3.4     rain           3
9  1/10/2012            1.0       6.1       0.6   3.4     rain           3

In [41]:
nama_cuaca = dict(zip(dataset.Prediction.unique(), dataset.weather.unique())) #mengembalikan nilai sesuai dengan argumen yang diberikan
nama_cuaca

{1: 'drizzle', 3: 'rain', 4: 'sun', 2: 'snow', 5: 'fog'}

In [42]:
#menentukan nilai x dan y
#x variabel bebas 'temp_max', 'temp_min', 'wind'
#y variabel terikat 'Prediction'

x = dataset[['precipitation','temp_max', 'temp_min', 'wind']]
y = dataset['Prediction']

#memisahkan untuk data yang di latih dan data yang di test. testnya sebesar 2%
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=0)

In [43]:
#menampilkan berapa banyak data yang diuji dan dilatih 
print('x_train = ',x_train.shape)# 1168 baris, 3 kolom
print('x_test = ',x_test.shape)# 293 baris, 3 kolom
print('y_train = ',y_train.shape)# 1168 baris, - kolom
print('y_test = ',y_test.shape)# 293 baris, - kolom

x_train =  (1168, 4)
x_test =  (293, 4)
y_train =  (1168,)
y_test =  (293,)

In [44]:
x_train.head()

      precipitation  temp_max  temp_min  wind
646             6.9      13.9       7.8   3.0
92              0.0      16.7       4.4   3.1
818            14.0      11.7       7.2   5.1
302            10.9      15.6      10.0   4.9
1259            0.0      23.9       9.4   2.6

In [45]:
y_train.head()

646     3
92      4
818     3
302     3
1259    4
Name: Prediction, dtype: int64

In [46]:
#mencari nilai K dengan eror terkecil

error_rate = []
for i in range(1,20):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    pred_i = knn.predict(x_test)
    error_rate.append(np.mean(pred_i != y_test))

print("Minimum error:-",min(error_rate),"at K =",error_rate.index(min(error_rate)))

Minimum error:- 0.26621160409556316 at K = 6

In [47]:
knn.fit(x_train, y_train) #kenapa 19? padahal k eror terkecil 18. Karena KNN nilai K nya tidak boleh genap

KNeighborsClassifier(n_neighbors=19)

In [48]:
knn.score(x_test, y_test)

0.6962457337883959

In [49]:
y_pred = knn.predict(x_test)

In [53]:
cm =confusion_matrix(y_test,y_pred)

In [55]:
cm

array([[  0,   0,   1,   9,   0],
       [  0,   0,   4,   2,   0],
       [  0,   0,  95,  28,   0],
       [  0,   0,  16, 109,   0],
       [  0,   0,   3,  26,   0]], dtype=int64)

In [56]:
#untuk akurasi data diubah kedalam matrix
from sklearn.metrics import confusion_matrix

In [57]:
y_pred = knn.predict(x_test)

In [58]:
cm =confusion_matrix(y_test,y_pred)

In [59]:
cm

array([[  0,   0,   1,   9,   0],
       [  0,   0,   4,   2,   0],
       [  0,   0,  95,  28,   0],
       [  0,   0,  16, 109,   0],
       [  0,   0,   3,  26,   0]], dtype=int64)

In [60]:
print(akurasi)

              precision    recall  f1-score   support

           1       0.00      0.00      0.00        10
           2       0.00      0.00      0.00         6
           3       0.80      0.77      0.79       123
           4       0.63      0.87      0.73       125
           5       0.00      0.00      0.00        29

    accuracy                           0.70       293
   macro avg       0.28      0.33      0.30       293
weighted avg       0.60      0.70      0.64       293

In [61]:
skor_akurasi = accuracy_score(y_test, y_pred)
print(skor_akurasi)

0.6962457337883959

In [63]:
#memasukkan data baru (1)
prediksi_cuaca = knn.predict([[4.1,4.5,0.7,5.3]])
print("Hasil Prediksi Cuaca dari data diatas adalah "+nama_cuaca[prediksi_cuaca[0]])

Hasil Prediksi Cuaca dari data diatas adalah rain

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [65]:
#memasukkan data baru (2)
prediksi_cuaca = knn.predict([[0,5.6,-1.0,3.4]])
print("Hasil Prediksi Cuaca dari data diatas adalah "+nama_cuaca[prediksi_cuaca[0]])

Hasil Prediksi Cuaca dari data diatas adalah sun

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [66]:
#memasukkan data baru (3)
new_precipitation = input("Masukan pengendapan : ")
new_temp_max = input("Masukan Temperature Maximal : ")
new_temp_min = input("Masukan Temperature Minimal : ")
new_wind     = input("Masukan Tekanan angin       : ")

prediksi_cuaca = knn.predict([[new_precipitation,new_temp_max,new_temp_min,new_wind]])
print("Hasil Prediksi Cuaca dari data diatas adalah "+nama_cuaca[prediksi_cuaca[0]])

Masukan pengendapan : 2.5
Masukan Temperature Maximal : 0
Masukan Temperature Minimal : -2.8
Masukan Tekanan angin       : 5
Hasil Prediksi Cuaca dari data diatas adalah sun

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

In [73]:
print("selesai")

selesai